#digital-clock {
    font-family: 'Raleway', sans-serif;
    font-size: 150px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding: 2rem 0;
    font-feature-settings: 'lnum' 1;
    position: absolute;
    top: 33%;
    left: 29%;
    bottom: 0;
    right: 0;
    height: 1px;
    color: white;
    user-select: none;
}

.dynamictext {
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    user-select: none;
}
