<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What Color Is It Now?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<body class="dynamicbg">

        <div class='cornerinfo' id="hexinfo">#FFFFFF</div>
        <div class="centerinfo" id="loadingtext">Loading...</div>

    <div class='centerinfo' id="mainclock">00:00:00 </div>

<script src="{{url_for('static', filename='jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>

